In [1]:
from contextlib import nullcontext
age = int(input("Enter your age"))
membership = False
if (age>=18):
	is_science_graduate = input("Are you a science graduate? (y/n)")
	if(is_science_graduate=="y"):
		membership = True
	elif(is_science_graduate=="n"):
		is_post_graduate = input("Are you a post graduate? (y/n) ")
		if(is_post_graduate =="y"):
			membership = True
		elif(is_post_graduate=="n"):
			membership = False
		else:
			print("please enter either ‘y’ or ‘n’ only")
	else:
		print("please enter either 'y’ or ‘n’ only")

else:
	membership = False

if(membership):
	print("You are eligible for membership")
else:
	print("You are not eligible for membership or You entered invalid input")

Enter your age18
Are you a science graduate? (y/n)n
Are you a post graduate? (y/n) y
You are eligible for membership

In [ ]:
members= ["John","Jane","Jack","Jill"]
members.append("Johnny")
print(members)

In [ ]:
members.remove("Jill")
print(members)

In [ ]:
members.append("John")
print(members)

text cell: This is where you will write the text which is not part of program

In [ ]:
members[4]= "John D"
print(members)

In [ ]:
members.sort()
print(members)

In [ ]:
members = {
"ID1": {
    "Name":"John",
    "Phone": 1223,
    "Address":"South block, Gotham",
    "Fee_status": "paid"
},
"ID2": {
    "Name":"Jane",
    "Phone": 4223,
    "Address":"North block, Gotham",
    "Fee_status": "Due"
}
}
print(members["ID2"]["Fee_status"])

In [ ]:
contacts = [["John",1223],["Jane",4223]]
print(contacts[1][1])

In [ ]:
def welcome_message(*names):
  for name in names:
    print("Welcome",name)

welcome_message("John","Jane")
welcome_message("Johnny","Jack","Jill")

In [ ]:
import datetime as dt

class Member:
  def __init__(self,name,year,phone,address=""):
    self.name =name
    self.birth_year = year
    self.phone = phone
    self.address =address

  def get_age(self):
    return (dt.datetime.now().year - self.birth_year)

  def set_address(self,new_address):
    self.address= new_address             #class ends here


m1 = Member("John",1990,1223)           # object created
print("Phone number of",m1.name,"is",m1.phone)
print("Age of",m1.name,"is",m1.get_age())

m1.set_address("Gotham city")
print("Address of",m1.name,"is",m1.address)
l= [v for v in vars(m1).values()]
print(l)

In [ ]:
membership = False
is_sci_grad = input("Are you a Science Graduate?(y/n)")
is_sci_grad_std = is_sci_grad.strip().lower()
valid_inputs = ["y","n"]
if is_sci_grad_std in valid_inputs:         #if block 1 starts
  if is_sci_grad_std=="y":                  # if block 2 starts
    membership = True                       #if block 2 ends
  else:                                     # else for if block 2 starts
    is_pg = input("Are you a Post Graduate? (y/n)")
    is_pg_std = is_pg.strip().lower()
    if is_pg_std in valid_inputs:           #if block 3 starts
      if is_pg_std=="y":                    # if block 4 starts
        membership =True                    # if block 4 ends
    else:                                   # else for if block 3 starts
      print("Enter only y/n")               #else for if block 3 ends/if block 3 ends
else:                                       #else for if block 1 starts
  print("Enter only y/n")                   #else for if block 1 ends/if block 1 ends

In [ ]:
import pandas as pd
data=[{"name":"John","birth_year":1990,"phone":1223,"address":"South Block, Gotham city"},
{"name":"Jane","birth_year":1992,"phone":4223,"address":"North Block, Gotham city"}]
df = pd.DataFrame(data)

In [ ]:
df.loc[len(df)] = ["Jack",1994,3221,"Gotham City"]

In [ ]:
df

In [ ]:
import datetime as dt
df["age"] = dt.datetime.now().year - df["birth_year"]
df

In [ ]:
print(df[df["name"]=="Jack"]["address"])
df.loc[df["name"]=="Jack","address"] = "North Block, Gotham City"

In [ ]:
print(df[df["name"]=="Jack"]["address"])

In [ ]:
df1 = df.iloc[2,"phone"]
df1

In [ ]:
df.to_csv("member_register.csv", index=False)

In [ ]:
lst= [1,5,6,7,12,18]
lst1 = [item*item for item in lst]                       #simple
lst2 = [item*item for item in lst if item%2==0]          # if
lst3 =[item*item if item%2==0 else item for item in lst] #if else
print(lst1)
print(lst2)
print(lst3)